{% extends 'base.html' %}

<!-- لود کردن تگ‌های کاستومی که نوشتیم تا دیتای فوتر (شماره، آدرس و...) رو از دیتابیس بخونیم -->
{% load salon_footer_tags %} 

{%block title%}
صفحه تماس با ما - سالن زیبایی
{%endblock title%}


{% block content %}
<div class="container mt-5">
   <!-- متن معرفی صفحه تماس -->
  <h5 class="text-center">برای رزرو ، مشاوره یا هر پرسشی با ما در تماس باشید.</h5>
  <h5 class="text-center">تیم سالن نورا همیشه آماده پاسخگویی و همراهی شماست.</h5>

  <!-- اینجا دیتای تنظیمات سالن رو با تگ کاستوم می‌گیریم و می‌ریزیم تو متغیر footer_info که پایین راحت ازش استفاده کنیم -->
  {% get_salon_footer_info as footer_info %}

  <!-- تماس و موقعیت -->
  <div class="container mt-5 mb-5">
    <div class="row g-4">

      <!-- اطلاعات تماس -->
      <div class="col-md-6">
        <div class="contact-info">
          <h4>آدرس</h4>
          <p>{{ footer_info.address }}</p>

          <h4>شماره تماس</h4>
          <p>📞 <a href="tel:+98{{ footer_info.phone|slice:'1:' }}" class="contact-link">
            {{ footer_info.phone_display }}
          </a>
          </p>

          <h4>اینستاگرام</h4>
          <p>📸 <a href="https://instagram.com/{{ footer_info.instagram }}" 
            target="_blank" 
            class="contact-link">
            @{{ footer_info.instagram }}
          </a>
          </p>

          <h4>ساعت کاری</h4>
          <p> 
            <span dir="ltr">{{ footer_info.open_time }}</span> 
            تا 
            <span dir="ltr">{{ footer_info.close_time}}</span>
          </p>

          <!-- دکمه واتساپ -->
          <h4>واتس‌اپ</h4>
        
          <a href="https://wa.me/{{ footer_info.whatsapp }}?text=سلام،%20برای%20رزرو%20خدمت%20سوال%20دارم" 
            target="_blank" 
            class="btn btn-gold mt-3">
            💬 ارتباط از طریق واتساپ
          </a>
        </div>
      </div>

      <!-- نقشه گوگل -->
      <div class="col-md-6">
        <div class="google-map">
          <!-- امبد کردن نقشه بلد -->
          
          <iframe src="https://balad.ir/embed?p=6eZiWAIFuwoUSv" width="100%"
            height="300"
            style="border:0; border-radius: 12px;"
            allowfullscreen="">
          </iframe>
        </div>
        
        <!-- دکمه باز کردن توی اپ بلد -->
        <div class="text-center">
          <a href="https://balad.ir/p/6eZiWAIFuwoUSv" 
            target="_blank" 
            class="btn btn-gold mt-3 ">
            📍 مسیریابی با بلد
          </a>
        </div>
      </div>

    </div>
  </div>

</div>
{% endblock content %}