{% extends "panel/base_panel.html" %}
{% block content %}
<h2 class="fw-bold mb-1" style="color: #2c3e50;">⭐ خدمات پرطرفدار</h2>
<div class="container mt-4">

    <!-- هدر صفحه -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        

        <a href="{% url 'panel:popular_service_add' %}" class="btn btn-primary">
            ➕ افزودن خدمت
        </a>
    </div>

    <div class="table-scroll">
        <table class="table">
        <tr>
            <th>عنوان</th>
            <th>توضیحات</th>
            <th>فعال</th>
            <th>عملیات</th>
        </tr>

        {% for s in services %}
        <tr>
            <td>
                        <div style="display: flex; align-items: center; gap: 10px;">
                            {% if s.image %}
                                <img src="{{ s.image.url }}" alt="{{ s.title }}" style="width: 50px; height: 50px; object-fit: cover; border-radius: 5px;">
                            {% else %}
                                <span style="width: 50px; height: 50px; background: #f0f0f0; display: inline-block; border-radius: 5px;"></span>
                            {% endif %}
                            <span>{{ s.title }}</span>
                        </div>
            </td>

            <td class="text-center">{{ s.description|truncatechars:50 }}</td>

            <td class="text-center">{{ s.is_active|yesno:"✔,✖" }}</td>
            <td class="text-center">
            <a href="{% url 'panel:popular_service_edit' s.id %}">✏️</a>
            <a href="{% url 'panel:popular_service_delete' s.id %}"
                onclick="return confirm('حذف شود؟')">🗑</a>
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>

</div>
{% endblock %}