{% extends "panel/base_panel.html" %}

{% block content %}

<div class="mt-4 px-3 w-100">

    <h4 class="mb-4">خدمت پرطرفدار ⭐</h4>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- عنوان -->
        <div class="mb-3">
            <label class="form-label">عنوان خدمت</label>
            <input
                name="title"
                class="form-control"
                placeholder="مثلاً: پکیج پاییزی مو + مزو"
                value="{{ service.title|default:'' }}"
                required
            >
            <div class="form-text">
                عنوانی که در صفحه اصلی نمایش داده می‌شود
            </div>
        </div>

        <!-- توضیحات -->
        <div class="mb-3">
            <label class="form-label">توضیحات کوتاه</label>
            <textarea
                name="description"
                class="form-control"
                rows="3"
                placeholder="توضیح کوتاه درباره این پکیج یا خدمت"
            required
            >{{ service.description|default:'' }}</textarea>
            <div class="form-text">
                توضیح مختصر برای نمایش روی کارت پیشنهاد
            </div>
        </div>

        <!-- آپلود تصویر -->
        <div class="mb-3">
            <label class="form-label">تصویر خدمت</label>
            <input type="file" name="image" class="form-control" {% if not service %}required{% endif %}>
            
            {% if service.image %}
                <!-- نمایش وضعیت فعلی عکس برای ادیتور -->
                <div class="form-text text-success mt-1">
                    <!-- با استفاده از فیلتر cut، مسیر اضافی فولدر رو از اسم فایل خط میزنیم -->
                    📎 تصویر فعلی: <strong>{{ service.image.name|cut:"popular_services/" }}</strong>
                </div>
            {% endif %}
            <div class="form-text">
                تصویر مناسب اسلایدر (ترجیحاً افقی و با کیفیت)
            </div>
        </div>

        <!-- دسته‌بندی -->
        <div class="mb-3">
            <label class="form-label"> دسته‌بندی</label>
            <select name="category" class="form-select" required>
                <option value="">انتخاب دسته‌بندی</option>
                {% for cat in categories %}
                    <option value="{{ cat.id }}"
                        {% if service.category and service.category.id == cat.id %}selected{% endif %}>
                        {{ cat.name }}
                    </option>
                {% endfor %}
            </select>
            <div class="form-text">
                برای ارتباط با دسته خدمات 
            </div>
        </div>

        <!-- فیلد ترتیب نمایش-->
        <div class="mb-3">
            <label class="form-label">ترتیب نمایش</label>
            <input
                name="order"
                type="number"
                class="form-control"
                value="{{ service.order|default:0 }}"
            required>
            <div class="form-text">
                عدد کمتر → نمایش زودتر در اسلایدر
            </div>
        </div>

        <!-- فعال / غیرفعال -->
        <div class="mobile-active-box mb-4">
            <div class="form-check">
                <input
                    class="form-check-input"
                    type="checkbox"
                    name="is_active"
                    id="is_active"
                    {% if service.is_active %}checked{% endif %}
                >
                <label class="form-check-label" for="is_active">
                    فعال باشد
                </label>
            </div>
            <div class="form-text mt-1">
                فقط موارد فعال در سایت نمایش داده می‌شوند
            </div>
        </div>

        <!-- دکمه‌ها -->
        <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center gap-5 mobile-form-buttons w-100">
            <button class="btn btn-success px-4">ذخیره</button>
            <a href="{% url 'panel:popular_services_list' %}" class="btn btn-outline-secondary  ms-md-3">
                بازگشت
            </a>
        </div>

    </form>

</div>

{% endblock %}
